<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="DbConnectionString" value="server=localhost;uid=Kukukun;pwd=minilogo;database=lolstatistics;"/>
    <add key="ApiKey" value="42e4ed69-ce92-4ddb-8ba7-4faa52e84acb"/>
    <add key="BaseApiUrl" value="https://euw.api.pvp.net/api/lol"/>
    <add key="GlobalApiUrl" value="https://global.api.pvp.net/api/lol"/>
    <add key="SimpleGameUrl" value="/euw/v1.3/game/by-summoner/{SummonerId}/recent"/>
    <add key="RankedGameUrl" value="/euw/v2.2/matchhistory/{SummonerId}"/>
    <add key="ChampionsUri" value="/static-data/euw/v1.2/champion"/>
    <add key="ItemsUri" value="/static-data/euw/v1.2/item?itemListData=groups,tags,from"/>
  </appSettings>
</configuration>