@using LolStatistics.Web.App_Start
@using LolStatistics.Model.Static
@model LolStatistics.Web.Models.GameHistoryViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="col-xs-8">
    <ul class="list-group champion-list-group">
        @foreach (LolStatistics.Web.Models.GameViewModel game in Model.Games)
        {
            string className = game.Win ? "success" : "danger";
            string victoire = game.Win ? "Victoire" : "Défaite";
            Champion currentChampion = LolStatisticsCache.Champion(@game.ChampionId);
            string imgPath = string.Concat(Request.ApplicationPath, @"/medias/img/", @currentChampion.Key, "_Square_0.png");
            <li class="list-group-item list-group-item-@className">
                <div class="champion-thumbnail" style="background-image:url(@imgPath);"></div>
                <span class="result @className">@victoire</span>
            </li>
        }
    </ul>
</div>