body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: darkgray;
}

html {
}

#top {
    position: absolute;
    top: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.match-history {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

    .match-history > div {
        margin-top: 10px;
        display: table-row;
        height: 75px;
    }

        .match-history > div > div {
            max-width: 75px;
            padding-left: 10px;
            display: table-cell;
            vertical-align: middle;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

            .match-history > div > div:first-child {
                border-left: 1px solid black;
                /*border-radius: 10px 0 0 10px;*/
            }

            .match-history > div > div:last-child {
                border-right: 1px solid black;
                /*border-radius: 0 10px 10px 0;*/
            }

.champion-thumbnail-container > .champion-thumbnail {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    height: 53px;
    width: 53px;
}

.result {
    font-weight: bold;
    color: black;
    background-size: 100% auto;
}

.item-list {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

    .item-list .item-container {
        display: table-row;
        background: transparent;
    }

        .item-list .item-container .item {
            margin: 2px;
            display: table-cell;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            border: 1px solid black;
            border-radius: 5px;
            background-size: 100% auto;
        }

    .success div {
        background-color: #006400;
        background-color: rgba(0, 100, 0, 0.5);
    }

    .danger div {
        background-color: #640000;
        background-color: rgba(100, 0, 0, 0.5);
    }

.statistics-container {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #000064;
    background-color: rgba(0, 0, 50, 0.75);
    padding: 20px;
}

.statistics-container h2{
    color: white;
}

.statistics-container label, .statistics-container a,
.statistics-container th, .statistics-container .fa {
    color: white;
}

.statistics-container tbody {
    background-color: white;
}

.statistics-container label select, input {
    color: black;
}

#Graphe {
    width: 100%;
}

.header-link {
    cursor: pointer;
}
