body {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: darkgray;
}

html {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.match-history {
    display: table;
    width: 100%;
}

.match-history > div {
    margin: 11px;
    display: table-row;
    height: 75px;
}

.match-history > div:first-child > div:first-child {
    border-radius: 10px 0 0 0;
}

.match-history > div:first-child > div:last-child {
    border-radius: 0 10px 0 0;
}

.match-history > div:last-child > div:first-child {
    border-radius: 0 0 0 10px;
}

.match-history > div:last-child > div:last-child {
    border-radius: 0 0 10px 0;
}

.match-history > div:first-child > div {
    border-top: 1px solid black;
}

.match-history > div > div {
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

.match-history > div > div:first-child {
    border-left: 1px solid black;
}

.match-history > div > div:last-child {
    border-right: 1px solid black;
}

.champion-thumbnail-container {
    
}
.champion-thumbnail-container > .champion-thumbnail {
    display: inline-block;
    background-repeat: no-repeat;
    background-size:contain;
    height: 53px;
    width: 53px;
}

.result {
    padding-left: 10px;
    font-weight: bold;
    color:black;
}

.result.success{
}