@{
    ViewBag.Title = "Team Stalker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-8">
    <div class="container-fluid statistics-container">
        <div class="page-header">
            <h2>Team Stalker</h2>
        </div>
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="player" class="control-label col-xs-4">Joueur de la team à stalker :</label>
                    <div class="col-xs-4">
                        <input class="form-control" id="player" type="text" required />
                    </div>
                    <div class="col-xs-4 text-right">
                        <button type="button" id="searchTeams" class="btn btn-default">Chercher les teams</button>
                    </div>
                </div>
                <div id="loader" class="col-xs-12 text-center hidden">
                    <span class="fa fa-spinner fa-2x fa-pulse"></span>
                    <div>
                        <label>Recherche des teams en cours...</label>
                    </div>
                </div>
                <div id="teamNames" class="hidden">
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <hr />
        </div>
        <div id="stalk" class="col-xs-12 hidden">
            <table class="table">
                <thead>
                    <tr>
                        <th>Joueur</th>
                        <th></th>
                        <th colspan="4" class="text-center">Mains</th>
                    </tr>
                    <tr class="no-border-top no-border-bottom">
                        <th class="no-border-bottom"></th>
                        <th class="no-border-bottom"></th>
                        <th>Champion</th>
                        <th>Nb Games</th>
                        <th>Win Rate</th>
                        <th>KDA</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="stalkerLoader" class="col-xs-12 text-center hidden">
            <span class="fa fa-spinner fa-2x fa-pulse"></span>
            <div>
                <label>Stalking en cours...</label>
            </div>
        </div>
        <div id="errorMessage" class="col-xs-12 text-center hidden text-danger">
            Une erreur est survenue lors de la récupération.<br/>
            Veuillez réessayer plus tard (ou pas).
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/TeamStalker.js")
}
